.container
  %h3
    Makes
    >
    = session[:condition].titleize

.row
  - @makes.each do |make|
    .large-4.columns
      = link_to make["name"], make_path(name: make["name"], id: make["id"]), :class => "button large expand loading"

#loading.reveal-modal
  %center
    %h4 Loading content
  %center
    = image_tag("loading.gif")

:javascript
  $(".loading").click(function(){
    $('#loading').foundation('reveal', 'open'); 
  });
