.row
  .large-12.columns
    .top-bar
      %ul.title-area
        %li.toggle-topbar.menu-icon
          %a
            %span
              Menu
        %li.name
      %section.top-bar-section
        %ul.left
          %li
            %a{:class => "active", :href => root_path}
              %span{:style => "font-size: 1.2em;"} Vehicular
        %ul.right
          %li
            %a{:class => "active", :href => makes_path}
              All Makes
